{% extends "base.html" %}
{% block title %}Список заявок{% endblock %}
{% block content %}
<h2>Список заявок</h2>



<!-- Форма поиска -->
<form method="get">
    <div class="mb-3">
        <input type="text" name="q" value="{{ query }}" placeholder="Введите для поиска..." class="form-control mb-2" />
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="search_name" id="search_name"
            {% if search_name %}checked{% endif %}>
        <label class="form-check-label" for="search_name">Имя клиента</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="search_phone" id="search_phone"
            {% if search_phone %}checked{% endif %}>
        <label class="form-check-label" for="search_phone">Телефон</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="search_comment" id="search_comment"
            {% if search_comment %}checked{% endif %}>
        <label class="form-check-label" for="search_comment">Комментарий</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Найти</button>
    
</form>

<!-- Кнопка создания новой заявки -->
<div class="mb-4" style="border: 1px solid red; padding: 10px;">
    <a href="{% url 'create_order' %}" style="color: white; background: green; padding: 8px 12px; text-decoration: none;">
        Создать новую заявку
    </a>
</div>

<!-- Список заявок -->
<ul class="list-group mt-4">
    {% for order in orders %}
    <li class="list-group-item">
        <a href="{% url 'order_detail' order.id %}">
            {{ order.client_name }} — {{ order.status|title }}
        </a>
    </li>
    {% empty %}
    <li class="list-group-item text-muted">Заявки не найдены.</li>
    {% endfor %}
</ul>
{% endblock %}