{% extends "base.html" %}
{% block title %}Заявка №{{ order.id }}{% endblock %}
{% block content %}
<h2>Заявка №{{ order.id }}</h2>
<p><strong>Клиент:</strong> {{ order.client_name }}</p>
<p><strong>Дата:</strong> {{ order.date }}</p>
<p><strong>Статус:</strong> {{ order.status|title }}</p>

<h3>Услуги:</h3>
<ul>
    {% for service in order.services %}
        <li>{{ service }}</li>
    {% endfor %}
</ul>

<!-- Найдём имя мастера по ID -->
{% for master in masters %}
    {% if master.id == order.master_id %}
        <p><strong>Мастер:</strong> {{ master.name }}</p>
    {% endif %}
{% endfor %}


<a href="{% url 'orders_list' %}">← Назад к списку заявок</a>
{% endblock %}