{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Барбершоп</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <h1>Добро пожаловать в барбершоп!</h1>

    <section>
        <h2>Наши мастера:</h2>
        <ul>
            {% for master in masters %}
                <li>{{ master.name }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Наши услуги:</h2>
        <ul>
            {% for service in services %}
                <li>{{ service }}</li>
            {% endfor %}
        </ul>
    </section>

    <a href="{% url 'orders_list' %}">Смотреть заявки</a>
</body>
</html>